<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>太陽能系統Demo</title>
    <link rel="stylesheet" href="stylesheets/history.css">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses', 'Profit'],
          ['2014', 1000, 400, 200],
          ['2015', 1170, 460, 250],
          ['2016', 660, 1120, 300],
          ['2017', 1030, 540, 350]
        ]);

        var options = {
          chart: {
            title: 'Company Performance',
            subtitle: 'Sales, Expenses, and Profit: 2014-2017',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('piechart'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>

  </head>
  <body>
    <h1><%= title %></h1>
    <p>This is history testing page</p>
    <div class="LeftWindows" id="LeftItem">
      <p></p>
      <p><a class="PageItem" href='/Summary'>Summary</a></p>
      <p><a class="PageItem" href='/History'>History</a></p>
    </div>

    

    <div class="MainWindows">
      <form action="/History2" method="POST">
      <div class="InverterOption">
        <p>選擇要顯示的Inverter</p>
        <% for (var i =1; i <=20;  i++ ) { %>
            <p><input type="checkbox" id="opt"<%= i %> name="check"<%= i %>>Inverter-<%= i %></input></p>
        <% } %> 
      </div>
      <div class="SelectOption">
        <div class="SelectBox">
            <p class="p1">選擇顯示類別</p>
            <p class="p1"><input class="RadioCheck" type="radio" name="selectType" value="Year">年<input class="RadioCheck" type="radio" name="selectType" value="Day">日</p>
            <p class="p1"><input class="RadioCheck" type="radio" name="selectType" value="Month">月<input class="RadioCheck" type="radio" name="selectType" value="Hour" checked>小時</p>
        </div>
        <div class="SelectBox">
          <form >
            <p class="p1">選擇日期</p>
            <p calss="p1"><input type="date" name="pickDateTime" placeholder="Date" value=<%= new Date().getFullYear() + '-' + (((new Date().getMonth() + 1) < 10) ? "0" : "") + (new Date().getMonth() + 1).toString() + 
              "-" + (((new Date().getDate()) < 10) ? "0" : "") + (new Date().getDate()).toString() %>></p>
            <P class="p1"><intput class="CheckBox2" name="calcAllEnergy" type="checkbox">合併所有Inverters</P>
            <button>執行</button>
            
          
        </div>
        
        <div class="ChartBox">
          <div id="piechart" width="800px" height="700px">
            
          </div>
          
        </div>

      </div>
    </form> 
      
      
    </div>
    
  </body>
  <script src="javascripts/history.js"></script>
</html>