<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>太陽能系統Demo</title>
    <link rel="stylesheet" href="stylesheets/history.css">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses', 'Profit'],
          ['2014', 1000, 400, 200],
          ['2015', 1170, 460, 250],
          ['2016', 660, 1120, 300],
          ['2017', 1030, 540, 350]
        ]);

        console.log('Test');

        var data_chart = JSON.parse('<%- setchartdata %>');
        var data_chart_String = JSON.stringify(data_chart);
        var data2 = google.visualization.arrayToDataTable(
          data_chart
          );
        var debugdisplay = document.getElementById("debugused");
        debugdisplay.innerText = data_chart_String;
        

        var options = {
          chart: {
            title: '<%= setcharttitle %>', //'Company Performance',
            subtitle: '<%= setchartsubtitle %>' //'Sales, Expenses, and Profit: 2014-2017',
          },
          width: 1400,
          hight: 700,
          vAxis: {
            title: 'Energy (kWh)',
            minValue: 0,
            ticks: [0, 20, 40, 60, 80, 100]
          }
        };

        var chart = new google.charts.Bar(document.getElementById('piechart'));

        chart.draw(data2, google.charts.Bar.convertOptions(options));
      }
    </script>

  </head>
  <body style="height:100%; width:100%; overflow:auto;">
    <h1><%= title %></h1>
    <p>This is history testing page</p>
    <div class="LeftWindows" id="LeftItem">
      <p></p>
      <p><a class="PageItem" href='/Summary'>Summary</a></p>
      <p><a class="PageItem" href='/History'>History</a></p>
    </div>

    

    <div class="MainWindows">
      
      
      <form action="/History2" method="POST">
        <div class="InverterOption">
          <p>選擇要顯示的Inverter</p>
          <% var listbuffer = []; var listindex = 0; %>
          <% for (var j=0; j<20; j++) { %>
            <% if(listindex >= setInverterList.length) break; else { %>
              <% if (setInverterList[listindex] == (j+1)) { listbuffer.push(1); listindex++; } else { listbuffer.push(0); } %>
            <% } %> 
          <% } %> 

          <% for (var i =1; i <=20;  i++ ) { %>
              <p><input type="checkbox" name="checkInverter" value=<%= i %> <% if(listbuffer[i-1] == 1) { %>checked<% } %>>Inverter-<%= i %></p>
          <% } %> 
        </div>
        <div class="SelectOption">
        <div class="SelectBox">
            <p class="p1">選擇顯示類別</p>
            <p class="p1"><input class="RadioCheck" type="radio" name="selectType" value="Year" <% if (setSelectType == 'Year') { %> checked <% } %>>年<input class="RadioCheck" type="radio" name="selectType" value="Day" <% if (setSelectType == 'Day') { %> checked <% } %>>日</p>
            <p class="p1"><input class="RadioCheck" type="radio" name="selectType" value="Month" <% if (setSelectType == 'Month') { %> checked <% } %>>月<input class="RadioCheck" type="radio" name="selectType" value="Hour" <% if (setSelectType == 'Hour') { %> checked <% } %>>小時</p>
        </div>
        <div class="SelectBox">
            <p class="p1">選擇日期</p>
            <p calss="p1"><input type="date" name="pickDateTime" placeholder="Date" value=<%= setSelectDate %>></p>
            <p class="p1"><input type="checkbox" name="testCheckbox" <% if(setcalcTotal==1) { %> checked <% } %>>計算所有發電量</p>
            <button>執行</button>
      </form>
            
          
        </div>
        
        <div class="ChartBox">
          <div><label id="debugused" class="debugused" name="debugused" hidden>NA</lable></div>
          <div id="piechart" style="width: 1400px; height: 700px;">
            
          </div>
          
        </div>

      </div>
      
      
    </div>
    
  </body>
  <script src="javascripts/history.js"></script>
</html>