<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Solar Demo Summary</title>
    <link rel="stylesheet" href="stylesheets/solarlocation.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data_chart = JSON.parse('<%- setOnlineChart %>');

        var data = google.visualization.arrayToDataTable(
          data_chart
          );

        var options = {
          chartArea: { width: '90%', height: '90%'},
          backgroundColor: '#f8f8f8',
          pieSliceText: 'none',
          pieHole: 0.5,
          pieSliceTextStyle: {
            color: 'black',
          },
          legend: 'none',
          slices: {
            0: { color: '#1f2678' },
            1: { color: 'gray' }
          }
        };

        var chart = new google.visualization.PieChart(document.getElementById('myCanvas'));
        chart.draw(data, options);
      }

      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart2);

      function drawChart2() {
        var data_chart = JSON.parse('<%- setHourChart %>');

        var data = google.visualization.arrayToDataTable(
          data_chart
        );

        var options = {
          width: 510,
          height: 200,
          legend: { position: 'none' },
          hAxis: {slantedText: true, showTextEvery: 2, textStyle : { fontSize: 9 }}
        };

        var chart = new google.charts.Bar(document.getElementById('myCanvas2'));

        chart.draw(data, google.charts.Bar.convertOptions(options));

      }

      
    </script>
  </head>
  <body>
    <div class="dashboardadmin">
      
      <div class="LeftItemList">
	      <label class="IconLWhite100"></label>
	      <label class="PVTitle">PV監測系統</label>
	      <hr class="LineTitle" />
	      <div class="RectangleSelected"><label class="currentLeftTitle"><a href='/SolarSummary' class="linkPath">場域儀表板</a></label></div>
	      <div class="NotRectangleSelected"><label class="currentLeftTitle"><a href='/SolarInverterList?AreaLocation=1&InverterID=1' class="linkPath">案場設備列表</a></label></div>
	      <div class="NotRectangleSelected"><label class="currentLeftTitle"><a href='/SolarHistory?AreaLocation=1&InverterID=1' class="linkPath">統計圖表</a></label></div>
        <div class="NotRectangleSelected"><label class="currentLeftTitle"><a href='/SolarHistoryData?AreaLocation=1&InverterID=1' class="linkPath">歷史履歷</a></label></div>
        
      </div>
      <div class="UpperTitle">
        <div class="UpperContainer">
          <img src="img/Logo.jpg" class="logoimg">
          <img src="img/dropdown.svg" class="dropdown">
          <label class="Hi-Admin">Hi, Admin</label>
          <script>
            let myComboboxAreaComp = document.querySelector('myComboboxArea');
            myComboboxAreaComp.addEventListener('change',()=> {
            console.log('Change area location');});
          </script>
        </div>
        
      </div>
      <div class="MainContainer">
        <div class="Rect-Main-10">
          <label class="Title-10"><%= setAreaName %></label>
        </div>
        <div class="Rect-Main-11">
          <label class="Title-11" style="margin-top: 16px; margin-left: 20px;">地點</label>
          <label class="Title-11" style="margin-top: 46px; margin-left: 20px;">系統商</label>
          <label class="Value-11" style="margin-top: 16px; margin-left: 99px;">高雄市駁二特區</label>
          <label class="Value-11" style="margin-top: 46px; margin-left: 99px;">威力工業</label>
        </div>
        <div class="Rect-Main-12">
          <img src="img/sun-fill.svg" class="sun-fill">
          <lable class="Value-Main-12">32</lable>
          <label class="Unit-Main-12">°C</label>
          <label class="Title-12" style="margin-top: 16px;margin-left: 228px;">環溫</label>
          <label class="Title-12" style="margin-top: 16px;margin-left: 359px;">模溫</label>
          <label class="Title-12" style="margin-top: 46px;margin-left: 228px;">天氣</label>
          <label class="Title-12" style="margin-top: 46px;margin-left: 359px;">日照</label>
          <label class="Value-12" style="margin-top: 16px;margin-left: 277px;">27°C</label>
          <label class="Value-12" style="margin-top: 16px;margin-left: 408px;">27°C</label>
          <label class="Value-12" style="margin-top: 46px;margin-left: 277px;">晴</label>
          <label class="Value-12" style="margin-top: 46px;margin-left: 408px;">5.3 W/㎡</label>
        </div>
        <div class="Rect-Main-1">
            <label class="Title-1">年累積發電量</label>
            <label class="Value-1"><%= (setTotalEnergy | 0).toLocaleString() %></label>
            <label class="Unit-1">kWh</label>
          </div>
          <div class="Rect-Main-2">
            <img src="img/car-solid.svg" class="car-solid">
            <label class="Value-2"><%= (setTotalEnergy / 4214) | 0 %></label>
            <label class="Unit-2">輛</label>
            <label class="Title-2">汽車一年用電量</label>
          </div>
          <div class="Rect-Main-3">
            <img src="img/house-door-fill.svg" class="house-door-fill">
            <label class="Value-2"><%= (setTotalEnergy / 3960) | 0 %></label>
            <label class="Unit-2">個</label>
            <label class="Title-2">家庭一年用電量</label>
          </div>
          <div class="Rect-Main-4">
            <img src="img/tree-fill.svg" class="tree-fill">
            <label class="Value-2"><%= (setTotalEnergy / 23580).toFixed(2) %></label>
            <label class="Unit-2">千棵</label>
            <label class="Title-2">樹一年碳吸附量</label>
          </div>
          <div class="Rect-Main-5">
            <label class="Title-5">今日發電量</label>
            <label class="Value-5"><%= ((setTodayTotalEnergy / 100) | 0).toLocaleString() %></label>
            <label class="Unit-5">kWh</label>
            <hr class="LineTitle-2" />
            <label class="Title-6" style="margin-top: 119px;margin-left: 20px;">今日單位發電量</label>
            <label class="Title-6" style="margin-top: 147px;margin-left: 20px;">每小時平均發電量</label>
            <label class="Value-6" style="margin-top: 119px;margin-left: 144px;"><%= (setTodayUnitEnergy / 100) | 0 %></label>
            <label class="Value-6" style="margin-top: 147px;margin-left: 144px;"><%= (setTodayHourEnergy / 100) | 0 %></label>
            <label class="Unit-6" style="margin-top: 119px;margin-left: 214px;">kWh</label>
            <label class="Unit-6" style="margin-top: 147px;margin-left: 214px;">kWh</label>
          </div>
          <div class="Rect-Main-6">
            <label class="Title-5">設備連線率</label>
            <div id="myCanvas" class="Oval"></div>
            <lable class="DonutChartValue"><%= (setTodayOnlinePrec * 100) | 0 %></lable>
            <label class="DonutChartUnit">%</label>
            <label class="Oval-2"></label>
            <label class="Title-7" style="margin-top: 234px;margin-left: 66px;">上線</label>
            <label class="Value-7" style="margin-top: 234px;margin-left: 103px;"><%= setTodayOnlineCount %></label>
            <label class="Oval-3"></label>
            <label class="Title-7" style="margin-top: 234px;margin-left: 168px;">離線</label>
            <label class="Value-7" style="margin-top: 234px;margin-left: 205px;"><%= setTodayOfflineCount %></label>
          </div>
          <div class="Rect-Main-7">
            <label class="Title-8">每小時發電量</label>
            <lablel class="Unit-8">(kWh)</lablel>
            <div id="myCanvas2" class="BarChartDisplay"></div>
          </div>
          <div class="Rect-Main-8">
            <label class="Title-9">設備列表</label>
            <div class="Table-1">
            <div class="Table-2">
            <table class="Table-3">
                <thead style="table-layout: fixed;">
                    <tr class="Column-1">
                        <th>設備</th>
                        <th>狀態</th>
                        <th>今日發電量(kWh)</th>
                        <th>今日運作時間(小時)</th>
                        <th>總發電量(MWh)</th>
                        <th>總運作時間(天)</th>
                        <th>周圍溫度(°C)</th>
                        <th>上升溫度(°C)</th>
                        <th>設備溫度(°C)</th>
                  </tr>
                </thead>
                <tbody style="overflow: auto;">
                  <% setAreaInformation.forEach( (row) => { %>
                    <tr class="Column-2">
                      <th><a><%= row['inverter_id'] %></a></th>

                      <% if(row['inverter_online'] === 1) { %>
                        <% if(row['inverter_state'] === 0) { %>
                          <th>Standby</th>
                        <% } else if(row['inverter_state'] === 1) { %>
                          <th>Countdown</th>
                        <% } else if(row['inverter_state'] === 2) { %>
                          <th>On</th>
                        <% } else if(row['inverter_state'] === 3) { %>
                          <th>No DC</th>
                        <% } else { %>
                          <th><font color="red">Alarm</font></th>
                        <% } %>
                      <% } else { %>
                        <th><font color="red">離線</font></th>
                      <% } %>

                      <% if(row['inverter_online'] === 1) { %>
                        <th><%= row['today_energy_2'].toFixed(1) %></th>
                      <% } else { %>
                        <th>0.0</th>
                      <% } %>

                      <% if(row['inverter_online'] === 1) { %>
                        <th><%= (row['today_runtime'] / 3600).toFixed(1) %></th>
                      <% } else { %>
                        <th>0.0</th>
                      <% } %>

                      <% if(row['inverter_online'] === 1) { %>
                        <th><%= row['life_energy_2'].toFixed(1) %></th>
                      <% } else { %>
                        <th>0.0</th>
                      <% } %>

                      <% if(row['inverter_online'] === 1) { %>
                        <th><%= row['life_runtime_2'] | 0 %></th>
                      <% } else { %>
                        <th>0</th>
                      <% } %>

                      <% if(row['inverter_online'] === 1) { %>
                        <th><%= row['temperature_ambient'].toFixed(1) %></th>
                      <% } else { %>
                        <th>0.0</th>
                      <% } %>

                      <% if(row['inverter_online'] === 1) { %>
                        <th><%= row['temperature_boost'].toFixed(1) %></th>
                      <% } else { %>
                        <th>0.0</th>
                      <% } %>

                      <% if(row['inverter_online'] === 1) { %>
                        <th><%= row['temperature_inverter'].toFixed(1) %></th>
                      <% } else { %>
                        <th>0.0</th>
                      <% } %>

                    </tr>
                  <% }); %>
                </tbody>
            </table>
            </div>
            </div>
          </div>
          <div id="myMap" class="Rect-Main-9">
          
          </div>
      </div>
      
    </div>
  </body>
</html>