<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Solar Demo - Summary</title>
    <link rel="stylesheet" href="stylesheets/solarhistory.css">

    <% if(setcalcTotal == 1) { %>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages':['bar']});
            google.charts.setOnLoadCallback(drawChart);
      
            function drawChart() {
      
              var data_chart = JSON.parse('<%- setchartdata %>');
              var data_chart_String = JSON.stringify(data_chart);
              var data2 = google.visualization.arrayToDataTable(
                data_chart
                );
    
              var options = {
                chart: {
                  title: '<%= setcharttitle %>', //'Company Performance',
                  subtitle: '<%= setchartsubtitle %>' //'Sales, Expenses, and Profit: 2014-2017',
                },
                legend: { position: 'top', textStyle: {fontSize: 10}},
                width: 870,
                hight: 740,
                vAxis: {
                  title: 'Energy (kWh)',
                  minValue: 0,
                  ticks: [0, 20, 40, 60, 80, 100]
                },
                isStacked: true
              };
      
              var chart = new google.charts.Bar(document.getElementById('mychart'));
      
              chart.draw(data2, google.charts.Bar.convertOptions(options));
            }
          </script>  
    <% } else if(setSingleData == 1) { %>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['bar']});
        google.charts.setOnLoadCallback(drawChart);
  
        function drawChart() {
  
          var data_chart = JSON.parse('<%- setchartdata %>');
          var data_chart_String = JSON.stringify(data_chart);
          var data2 = google.visualization.arrayToDataTable(
            data_chart
            );

          
  
          var options = {
            chart: {
              title: '<%= setcharttitle %>', //'Company Performance',
              subtitle: '<%= setchartsubtitle %>' //'Sales, Expenses, and Profit: 2014-2017',
            },
            legend: { position: 'none'},
            width: 870,
            hight: 740,
            vAxis: {
              title: 'Energy (kWh)',
              minValue: 0,
              ticks: [0, 20, 40, 60, 80, 100]
            }
          };
  
          var chart = new google.charts.Bar(document.getElementById('mychart'));
  
          chart.draw(data2, google.charts.Bar.convertOptions(options));
        }
      </script>
      <% } else { %>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages':['line']});
            google.charts.setOnLoadCallback(drawChart2);
      
            function drawChart2() {
      
              var data_chart = JSON.parse('<%- setchartdata %>');
              var data_chart_String = JSON.stringify(data_chart);
              var data2 = google.visualization.arrayToDataTable(
                data_chart
                );
    
              
      
              var options = {
                legend: { position: 'top', textStyle: {fontSize: 10}},
                chart: {
                  title: '<%= setcharttitle %>', //'Company Performance',
                  subtitle: '<%= setchartsubtitle %>' //'Sales, Expenses, and Profit: 2014-2017',
                },
                vAxis: {
                  title: 'Energy (kWh)',
                  minValue: 0
                }
              };
      
              var chart = new google.charts.Line(document.getElementById('mychart'));
      
              chart.draw(data2, google.charts.Line.convertOptions(options));

                //var chart = new google.visualization.LineChart(document.getElementById('mychart'));

                //chart.draw(data2, options);
            }
          </script>
      <% } %>
      <script>
        function test(){
          console.log('AAAAA');
        }
      </script>
  </head>
  <body>
    <script src="javascripts/solarhistory.js"></script>
    <div class="dashboardadmin">
        <div class="LeftItemList">
            <label class="IconLWhite100"></label>
            <label class="PVTitle">PV監測系統</label>
            <hr class="LineTitle" />
            <div class="NotRectangleSelected"><label class="currentLeftTitle"><a href='/SolarSummary' class="linkPath">場域儀表板</a></label></div>
            <div class="NotRectangleSelected"><label class="currentLeftTitle"><a href='/SolarInverterList?AreaLocation=1&InverterID=1' class="linkPath">案場設備列表</a></label></div>
            <div class="RectangleSelected"><label class="currentLeftTitle">統計圖表</label></div>
            <div class="NotRectangleSelected"><label class="currentLeftTitle"><a href='/SolarHistoryData?AreaLocation=1&InverterID=1' class="linkPath">歷史履歷</a></label></div>
        </div>
        <div class="UpperTitle">
          <div class="UpperContainer">
            <img src="img/dropdown.svg" class="dropdown">
            <label class="Hi-Admin">Hi, Admin</label>
          </div>
          
        </div>

        <div class="MainContainer">
            
            <div class="Rect-Main-30">
                <label style="margin-top: 10px; margin-left: 10px;">案場設備列表</label>
                <div id="treeview_container" class="hummingbird-treeview">

                  
                    <form action="/SolarHistory" method="POST">
                    <ul id="myUL">
                        <% setinverterlistdata.forEach( (row) => { %>
                            <li><span class="caret caret-down" caret-down><%= row['Name'] %></span>
                                <ul class="nested active">
                                    <% row['AreaList'].forEach( (arearow) => { %>
                                        <% if(arearow['Index'] === setarealocationindex) { %>
                                            <li><span class="caret caret-down"><%= arearow['Name'] %></span>
                                                <ul class="nested active">
                                        <% } else { %>
                                            <li><span class="caret"><%= arearow['Name'] %></span>
                                                <ul class="nested">
                                        <% } %>
                                                    <% arearow['InverterList'].forEach((inverterrow) => { %>
                                                        <% var checkvalue = 100 * arearow['Index'] + inverterrow['inverter_id']; %> 
                                                        <% var urlString='/SolarInverterList?AreaLocation=' + arearow['Index'].toString() + '&InverterID=' + inverterrow['inverter_id'].toString(); %>
                                                        <% var checkflag=0; %>
                                                        <% if(setPosFunction == 0){ %>
                                                            <% if((arearow['Index'] === setarealocationindex) && (inverterrow['inverter_id'] === setinverteridindex)) { checkflag = 1;} %>
                                                        <% } else { %>
                                                            <% if(setSingleData == 1) { %>
                                                                <% if(checkvalue == setCheckInverter) checkflag=1; %>
                                                            <% } else { %>
                                                                <% for(var i=0;i<setCheckInverter.length;i++) { %>
                                                                    <% if(checkvalue == setCheckInverter[i]) { checkflag=1; break; } %>
                                                                <% } %>
                                                            <% } %> 
                                                        <% } %>
                                                        <li><input type="checkbox" name="checkInverter" value=<%= checkvalue %> <% if(checkflag == 1) { %>checked<% } %>>
                                                            <% if ((inverterrow['online_status'] === 0) || (inverterrow['inverter_state'] === 4)) { %>
                                                                <span class='dot' style="background-color:red;"></span>
                                                            <% } else { %>
                                                                <span class='dot' style="background-color:lime;"></span>
                                                            <% } %>
                                                            Inverter-<%= inverterrow['inverter_id'].toString().padStart(2, "0") %></li>

                                                    <% }); %>
                                                </ul>
                                            </li>
                                    <% }); %>
                                </ul>
                            </li>
                        <% }); %>

                    </ul>
                    </form>
                </div>
                <script>
                    var toggler = document.getElementsByClassName("caret");
                    var i;

                    for (i = 0; i < toggler.length; i++) {
                        toggler[i].addEventListener("click", function() {
                        this.parentElement.querySelector(".nested").classList.toggle("active");
                        this.classList.toggle("caret-down");
                        });
                    }   
                </script>
            </div>
            <div class="Rect-Main-31">
                <div>
                    <label>選擇類型</label>
                    <select id="myComboboxArea" name="myComboboxArea" class="Combobox-1">
                        <option value="Day" <% if(setSelectType == 'Day') { %>selected<% } %>>日</option>
                        <option value="Month" <% if(setSelectType == 'Month') { %>selected<% } %>>月</option>
                        <option value="Year" <% if(setSelectType == 'Year') { %>selected<% } %>>年</option>
                    </select>
                    <label>選擇日期</label>
                    <input type="date" name="pickDateTime" placeholder="Date" value=<%= setSelectDate %>>
                    <input type="checkbox" name="testCheckbox" <% if(setcalcTotal==1) { %> checked <% } %>>計算所有發電量
                    <button>執行</button>
                </div>
            </div>
            
            <div class="Rect-Main-32">
                <div class="mychart" id="mychart"></div>
            </div>
        </div>
    </div>
  </body>
</html>