<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Solar Demo - Summary</title>
    <link rel="stylesheet" href="stylesheets/solarinverterlist.css">

  </head>
  <body>
    <script src="javascripts/solarinverterlist.js"></script>
    <div class="dashboardadmin">
        <div class="LeftItemList">
            <label class="IconLWhite100"></label>
            <label class="PVTitle">PV監測系統</label>
            <hr class="LineTitle" />
            <div class="NotRectangleSelected"><label class="currentLeftTitle"><a href='/SolarSummary' class="linkPath">場域儀表板</a></label></div>
            <div class="RectangleSelected"><label class="currentLeftTitle">案場設備列表</label></div>
            <div class="NotRectangleSelected"><label class="currentLeftTitle">歷史履歷</label></div>
        </div>
        <div class="UpperTitle">
          <div class="UpperContainer">
            <img src="img/dropdown.svg" class="dropdown">
            <label class="Hi-Admin">Hi, Admin</label>
          </div>
          
        </div>

        <div class="MainContainer">
            <div class="Rect-Main-20">
                <label style="margin-top: 10px; margin-left: 10px;">案場設備列表</label>
                <div id="treeview_container" class="hummingbird-treeview">
                    <ul id="myUL">
                        <% setinverterlistdata.forEach( (row) => { %>
                            <li><span class="caret caret-down" caret-down><%= row['Name'] %></span>
                                <ul class="nested active">
                                    <% row['AreaList'].forEach( (arearow) => { %>
                                        <% if(arearow['Index'] === setarealocationindex) { %>
                                            <li><span class="caret caret-down"><%= arearow['Name'] %></span>
                                                <ul class="nested active">
                                        <% } else { %>
                                            <li><span class="caret"><%= arearow['Name'] %></span>
                                                <ul class="nested">
                                        <% } %>
                                                    <% arearow['InverterList'].forEach((inverterrow) => { %>
                                                        <% var urlString='/SolarInverterList?AreaLocation=' + arearow['Index'].toString() + '&InverterID=' + inverterrow['inverter_id'].toString(); %>
                                                            <% if ((inverterrow['online_status'] === 0) || (inverterrow['inverter_state'] === 4)) { %>
                                                                <li><span class='dot' style="background-color:red;"></span>
                                                            <% } else { %>
                                                                <li><span class='dot' style="background-color:lime;"></span>
                                                            <% } %>
                                                        <% if ((arearow['Index'] === setarealocationindex) && (inverterrow['inverter_id'] === setinverteridindex)) { %>
                                                            <a class="linkPath2" style='height: 20px; background-color: moccasin;' href=<%= urlString %> >Inverter-<%= inverterrow['inverter_id'].toString().padStart(2, "0") %></a></li>
                                                        <% } else { %>
                                                            <a class="linkPath2" style='height: 20px;' href=<%= urlString %> >Inverter-<%= inverterrow['inverter_id'].toString().padStart(2, "0") %></a></li>
                                                        <% } %>
                                                    <% }); %>
                                                </ul>
                                            </li>
                                    <% }); %>
                                </ul>
                            </li>
                        <% }); %>

                    </ul>
                </div>
                <script>
                    var toggler = document.getElementsByClassName("caret");
                    var i;

                    for (i = 0; i < toggler.length; i++) {
                        toggler[i].addEventListener("click", function() {
                        this.parentElement.querySelector(".nested").classList.toggle("active");
                        this.classList.toggle("caret-down");
                    });
}
                </script>
            </div>
            <div class="Rect-Main-21">
                <div class="Rect-Main-22">
                    <label class="Label-Style-20" style="margin-top: 10px; margin-left: 10px;"><%= setinverterlistdata[0]['Name'] %></label>
                    <label class="Label-Style-20" style="margin-top: 40px; margin-left: 10px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['Name'] %></label>
                    <label class="Label-Style-20" style="margin-top: 70px; margin-left: 10px;">Inverter-<%= (setinverteridindex).toString().padStart(2, "0") %></label>
                    <label class="Label-Style-20" style="margin-top: 100px; margin-left: 10px;">狀態</label>
                    <% var get_online_status = setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['online_status']; %>
                    <% var get_inverter_state = setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['inverter_state']; %>
                    <% if(get_online_status === 0) { %>
                        <label class="Label-Style-20" style="margin-top: 130px; margin-left: 10px;"><font color="red">離線</font></label>
                    <% } else { %>
                        <% var get_inverter_state_name = setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['inverter_state_name']; %>
                        <% if(get_inverter_state === 4) { %>
                            <label class="Label-Style-20" style="margin-top: 130px; margin-left: 10px;"><font color="red"><%= get_inverter_state_name %></font></label>
                        <% } else { %>
                            <label class="Label-Style-20" style="margin-top: 130px; margin-left: 10px;"><%= get_inverter_state_name %></label>
                        <% } %>
                    <% } %>
                </div>
                <div class="Rect-Main-22">
                    <label class="Label-Style-20" style="margin-top: 10px; margin-left: 10px;">Today Energy (kWh)</label>
                    <label class="Label-Style-20" style="margin-top: 40px; margin-left: 10px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['today_energy'].toFixed(1) %></label>
                    <label class="Label-Style-20" style="margin-top: 70px; margin-left: 10px;">Today Runtime (hr)</label>
                    <label class="Label-Style-20" style="margin-top: 100px; margin-left: 10px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['today_runtime'].toFixed(1) %></label>
                </div>
                <div class="Rect-Main-22">
                    <label class="Label-Style-20" style="margin-top: 10px; margin-left: 10px;">Life Energy (MWh)</label>
                    <label class="Label-Style-20" style="margin-top: 40px; margin-left: 10px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['life_energy'].toFixed(1) %></label>
                    <label class="Label-Style-20" style="margin-top: 70px; margin-left: 10px;">Life Runtime (day)</label>
                    <label class="Label-Style-20" style="margin-top: 100px; margin-left: 10px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['life_runtime'] %></label>
                </div>
                <div class="Rect-Main-22">
                    <label class="Label-Style-20" style="margin-top: 10px; margin-left: 10px;">Temperature Ambient (°C)</label>
                    <label class="Label-Style-20" style="margin-top: 40px; margin-left: 10px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['temperature_ambient'].toFixed(1) %></label>
                </div>
                <div class="Rect-Main-22">
                    <label class="Label-Style-20" style="margin-top: 10px; margin-left: 10px;">Temperature Boost (°C)</label>
                    <label class="Label-Style-20" style="margin-top: 40px; margin-left: 10px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['temperature_boost'].toFixed(1) %></label>
                </div>
                <div class="Rect-Main-22">
                    <label class="Label-Style-20" style="margin-top: 10px; margin-left: 10px;">Temperature Inverter (°C)</label>
                    <label class="Label-Style-20" style="margin-top: 40px; margin-left: 10px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['temperature_inverter'].toFixed(1) %></label>
                </div>
                <div class="Rect-Main-23">
                    
                </div>
            </div>
            
        </div>

    </div>
  </body>
</html>