<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Solar Demo - Summary</title>
    <link rel="stylesheet" href="stylesheets/solarhistorydata.css">
  </head>
  <body>
    <div class="dashboardadmin">
        <div class="LeftItemList">
            <label class="IconLWhite100"></label>
            <label class="PVTitle">PV監測系統</label>
            <hr class="LineTitle" />
            <div class="NotRectangleSelected"><label class="currentLeftTitle"><a href='/SolarSummary' class="linkPath">場域儀表板</a></label></div>
            <div class="NotRectangleSelected"><label class="currentLeftTitle"><a href='/SolarInverterList?AreaLocation=1&InverterID=1' class="linkPath">案場設備列表</a></label></div>
            <div class="NotRectangleSelected"><label class="currentLeftTitle"><a href='/SolarHistory?AreaLocation=1&InverterID=1' class="linkPath">統計圖表</a></label></div>
            <div class="RectangleSelected"><label class="currentLeftTitle">歷史履歷</label></div>
        </div>
        <div class="UpperTitle">
          <div class="UpperContainer">
            <img src="img/dropdown.svg" class="dropdown">
            <label class="Hi-Admin">Hi, Admin</label>
          </div>
          
        </div>
        <div class="MainContainer">
            <form action="/SolarHistoryData" method="POST">
                <div class="Rect-Main-40">
                    <label style="margin-top: 10px; margin-left: 10px;">案場設備列表</label>
                    <div id="treeview_container" class="hummingbird-treeview">
                        <ul id="myUL">
                            <% setinverterlistdata.forEach( (row) => { %>
                                <li><span class="caret caret-down" caret-down><%= row['Name'] %></span>
                                    <ul class="nested active">
                                        <% row['AreaList'].forEach( (arearow) => { %>
                                            <% if(arearow['Index'] === setarealocationindex) { %>
                                                <li><span class="caret caret-down"><%= arearow['Name'] %></span>
                                                    <ul class="nested active">
                                            <% } else { %>
                                                <li><span class="caret caret-down"><%= arearow['Name'] %></span>
                                                    <ul class="nested active">
                                            <% } %>
                                                        <% arearow['InverterList'].forEach((inverterrow) => { %>
                                                            <% var checkvalue = 100 * arearow['Index'] + inverterrow['inverter_id']; %> 
                                                            <% var urlString='/SolarInverterList?AreaLocation=' + arearow['Index'].toString() + '&InverterID=' + inverterrow['inverter_id'].toString(); %>
                                                            <% var checkflag=0; %>
                                                            <% if(setPosFunction == 0){ %>
                                                                <% if((arearow['Index'] === setarealocationindex) && (inverterrow['inverter_id'] === setinverteridindex)) { checkflag = 1;} %>
                                                            <% } else { %>
                                                                <% if(setSingleData == 1) { %>
                                                                    <% if(checkvalue == setCheckInverter) checkflag=1; %>
                                                                <% } else { %>
                                                                    <% for(var i=0;i<setCheckInverter.length;i++) { %>
                                                                        <% if(checkvalue == setCheckInverter[i]) { checkflag=1; break; } %>
                                                                    <% } %>
                                                                <% } %> 
                                                            <% } %>
                                                            <li><input type="checkbox" name="checkInverter" value=<%= checkvalue %> <% if(checkflag == 1) { %>checked<% } %>>
                                                                <% if ((inverterrow['online_status'] === 0) || (inverterrow['inverter_state'] === 4)) { %>
                                                                    <span class='dot' style="background-color:red;"></span>
                                                                <% } else { %>
                                                                    <span class='dot' style="background-color:lime;"></span>
                                                                <% } %>
                                                                Inverter-<%= inverterrow['inverter_id'].toString().padStart(2, "0") %></li>
    
                                                        <% }); %>
                                                    </ul>
                                                </li>
                                        <% }); %>
                                    </ul>
                                </li>
                            <% }); %>
    
                        </ul>
                    </div>
                    <script>
                        var toggler = document.getElementsByClassName("caret");
                        var i;
    
                        for (i = 0; i < toggler.length; i++) {
                            toggler[i].addEventListener("click", function() {
                            this.parentElement.querySelector(".nested").classList.toggle("active");
                            this.classList.toggle("caret-down");
                            });
                        }   
                    </script>
                </div>
                <div class="Rect-Main-41">
                    <div>
                        <label>選擇類型</label>
                        <select id="myComboboxArea" name="myComboboxArea" class="Combobox-1">
                            <option value="Day" <% if(setSelectType == 'Day') { %>selected<% } %>>日</option>
                            <option value="Month" <% if(setSelectType == 'Month') { %>selected<% } %>>月</option>
                            <option value="Year" <% if(setSelectType == 'Year') { %>selected<% } %>>年</option>
                        </select>
                        <label>選擇日期</label>
                        <input type="date" name="pickDateTime" placeholder="Date" value=<%= setSelectDate %>>
                        <button>執行</button>
                    </div>
                </div>
            </form>
            <div class="Rect-Main-42">
                <label class="Title-9">資料</label>
                <form method='post' action="/ExportExcel">
                    <% var setTableDataString = JSON.stringify(setTableData); %>
                    <% var setFileNameString = ''; %>
                    <% var setTitleColumn = {}; %>
                    <% setTitleColumn['Column_1']='地區'; %>
                    <% setTitleColumn['Column_2']='場域'; %>
                    <% setTitleColumn['Column_3']='設備號碼'; %>
                    <% setTitleColumn['Column_4']=setDataIndexString; %>
                    <% setTitleColumn['Column_5']='發電量(kWh)'; %>
                    <% var setTitleColumnString = JSON.stringify(setTitleColumn); %>
                    <% setFileNameString += setSelectType; %>
                    <% setFileNameString += ' - Report_'; %>
                    <% setFileNameString += setSelectDate.toString(); %>
                    <% setFileNameString += '.xlsx'; %>
                    <input name="filenamepath" type="text" value=<%= setFileNameString %> hidden>
                    <input name="titlecolumn" type="text" value=<%= setTitleColumnString %> hidden>
                    <input name="tabledata" type="text" value=<%= setTableDataString %> hidden>
                    <button style="margin-top: 16px; margin-left: 100px; height: 26px;" id="triggerTest2" type="submit">Trigger Test</button>
                </form>


                 
              <div class="Table-1">
                  <div class="Table-2">
                  <table class="Table-3">
                      <thead style="table-layout: fixed;">
                          <tr class="Column-1">
                              <th>地區</th>
                              <th>場域</th>
                              <th>設備號碼</th>
                              <th><%= setDataIndexString %></th>
                              <th>發電量(kWh)</th>
                          </tr>
                      </thead>
                    <tbody style="overflow: auto;">
                        <% setTableData.forEach( (row) => { %>
                            <tr class="Column-2">
                                <th><%= row['sublocation_name'] %></th>
                                <th><%= row['arealocation_name'] %></th>
                                <th><%= row['inverter_id'] %></th>
                                <th><%= row['data_index'] %></th>
                                <th><%= row['energy'] %></th>
                            </tr>
                        <% }); %>
                    </tbody>
                  </table>
                  </div>
              </div>
            </div>
        </div>
    </div>
  </body>
</html>