<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Solar Demo - Summary</title>
    <link rel="stylesheet" href="stylesheets/solarinverterlist.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart2);

      function drawChart2() {
        var data_chart = JSON.parse('<%- setHourChart %>');

        var data = google.visualization.arrayToDataTable(
          data_chart
        );

        var options = {
          width: 750,
          height: 390,
          legend: 'none',
          hAxis: {format: '##時', ticks: [0, 3, 6, 9, 12, 15, 18, 21]}
        };

        var chart = new google.charts.Bar(document.getElementById('myCanvas2'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }

      
    </script>
  </head>
  <body>
    <script src="javascripts/solarinverterlist.js"></script>
    <div class="dashboardadmin">
        <div class="LeftItemList">
            <label class="IconLWhite100"></label>
            <label class="PVTitle">PV監測系統</label>
            <hr class="LineTitle" />
            <div class="NotRectangleSelected"><label class="currentLeftTitle"><a href='/SolarSummary' class="linkPath">場域儀表板</a></label></div>
            <div class="RectangleSelected"><label class="currentLeftTitle">案場設備列表</label></div>
            <div class="NotRectangleSelected"><label class="currentLeftTitle"><a href='/SolarHistory?AreaLocation=1&InverterID=1' class="linkPath">統計圖表</a></label></div>
            <div class="NotRectangleSelected"><label class="currentLeftTitle"><a href='/SolarHistoryData?AreaLocation=1&InverterID=1' class="linkPath">歷史履歷</a></label></div>
        </div>
        <div class="UpperTitle">
          <div class="UpperContainer">
            <img src="img/dropdown.svg" class="dropdown">
            <label class="Hi-Admin">Hi, Admin</label>
          </div>
          
        </div>

        <div class="MainContainer">
            <div class="Rect-Main-20">
                <label style="margin-top: 10px; margin-left: 10px;">案場設備列表</label>
                <div id="treeview_container" class="hummingbird-treeview">
                    <ul id="myUL">
                        <% setinverterlistdata.forEach( (row) => { %>
                            <li><span class="caret caret-down" caret-down><%= row['Name'] %></span>
                                <ul class="nested active">
                                    <% row['AreaList'].forEach( (arearow) => { %>
                                        <% if(arearow['Index'] === setarealocationindex) { %>
                                            <li><span class="caret caret-down"><%= arearow['Name'] %></span>
                                                <ul class="nested active">
                                        <% } else { %>
                                            <li><span class="caret"><%= arearow['Name'] %></span>
                                                <ul class="nested">
                                        <% } %>
                                                    <% arearow['InverterList'].forEach((inverterrow) => { %>
                                                        <% var urlString='/SolarInverterList?AreaLocation=' + arearow['Index'].toString() + '&InverterID=' + inverterrow['inverter_id'].toString(); %>
                                                            <% if ((inverterrow['online_status'] === 0) || (inverterrow['inverter_state'] === 4)) { %>
                                                                <li><span class='dot' style="background-color:red;"></span>
                                                            <% } else { %>
                                                                <li><span class='dot' style="background-color:lime;"></span>
                                                            <% } %>
                                                        <% if ((arearow['Index'] === setarealocationindex) && (inverterrow['inverter_id'] === setinverteridindex)) { %>
                                                            <a class="linkPath2" style='height: 20px; background-color: moccasin;' href=<%= urlString %> >Inverter-<%= inverterrow['inverter_id'].toString().padStart(2, "0") %></a></li>
                                                        <% } else { %>
                                                            <a class="linkPath2" style='height: 20px;' href=<%= urlString %> >Inverter-<%= inverterrow['inverter_id'].toString().padStart(2, "0") %></a></li>
                                                        <% } %>
                                                    <% }); %>
                                                </ul>
                                            </li>
                                    <% }); %>
                                </ul>
                            </li>
                        <% }); %>

                    </ul>
                </div>
                <script>
                    var toggler = document.getElementsByClassName("caret");
                    var i;

                    for (i = 0; i < toggler.length; i++) {
                        toggler[i].addEventListener("click", function() {
                        this.parentElement.querySelector(".nested").classList.toggle("active");
                        this.classList.toggle("caret-down");
                    });
}
                </script>
            </div>
            <div class="Rect-Main-21">
                <div class="Rect-Main-22">
                    <label class="Label-Style-20" style="margin-top: 10px; margin-left: 10px;"><%= setinverterlistdata[0]['Name'] %></label>
                    <label class="Label-Style-20" style="margin-top: 40px; margin-left: 10px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['Name'] %></label>
                    <label class="Label-Style-20" style="margin-top: 70px; margin-left: 10px;">Inverter-<%= (setinverteridindex).toString().padStart(2, "0") %></label>
                    <label class="Label-Style-20" style="margin-top: 100px; margin-left: 10px;">狀態</label>
                    <% var get_online_status = setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['online_status']; %>
                    <% var get_inverter_state = setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['inverter_state']; %>
                    <% if(get_online_status === 0) { %>
                        <label class="Label-Style-20" style="margin-top: 130px; margin-left: 10px;"><font color="red">離線</font></label>
                    <% } else { %>
                        <% var get_inverter_state_name = setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['inverter_state_name']; %>
                        <% if(get_inverter_state === 4) { %>
                            <label class="Label-Style-20" style="margin-top: 130px; margin-left: 10px;"><font color="red"><%= get_inverter_state_name %></font></label>
                        <% } else { %>
                            <label class="Label-Style-20" style="margin-top: 130px; margin-left: 10px;"><%= get_inverter_state_name %></label>
                        <% } %>
                    <% } %>
                </div>
                <div class="Rect-Main-22">
                    <label class="Label-Style-20" style="margin-top: 10px; margin-left: 10px;">Today Energy (kWh)</label>
                    <label class="Label-Style-20" style="margin-top: 30px; margin-left: 30px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['today_energy'].toFixed(1) %></label>
                    <label class="Label-Style-20" style="margin-top: 50px; margin-left: 10px;">Today Runtime (hr)</label>
                    <label class="Label-Style-20" style="margin-top: 70px; margin-left: 30px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['today_runtime'].toFixed(1) %></label>
                    <label class="Label-Style-20" style="margin-top: 90px; margin-left: 10px;">Life Energy (MWh)</label>
                    <label class="Label-Style-20" style="margin-top: 110px; margin-left: 30px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['life_energy'].toFixed(1) %></label>
                    <label class="Label-Style-20" style="margin-top: 130px; margin-left: 10px;">Life Runtime (day)</label>
                    <label class="Label-Style-20" style="margin-top: 150px; margin-left: 30px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['life_runtime'].toFixed(1) %></label>
                </div>
                <div class="Rect-Main-22">
                    <label class="Label-Style-20" style="margin-top: 10px; margin-left: 10px;">Temperature Ambient (°C)</label>
                    <label class="Label-Style-20" style="margin-top: 30px; margin-left: 30px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['temperature_ambient'].toFixed(1) %></label>
                    <label class="Label-Style-20" style="margin-top: 50px; margin-left: 10px;">Temperature Boost 1 (°C)</label>
                    <label class="Label-Style-20" style="margin-top: 70px; margin-left: 30px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['temperature_boost'].toFixed(1) %></label>
                    <label class="Label-Style-20" style="margin-top: 90px; margin-left: 10px;">Temperature Boost 2 (°C)</label>
                    <label class="Label-Style-20" style="margin-top: 110px; margin-left: 30px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['temperature_boost2'].toFixed(1) %></label>
                    <label class="Label-Style-20" style="margin-top: 130px; margin-left: 10px;">Temperature Inverter (°C)</label>
                    <label class="Label-Style-20" style="margin-top: 150px; margin-left: 30px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['temperature_inverter'].toFixed(1) %></label>
                </div>
                <div class="Rect-Main-22">
                    <label class="Label-Style-20" style="margin-top: 10px; margin-left: 10px;">Input DC Total Power (W)</label>
                    <label class="Label-Style-20" style="margin-top: 30px; margin-left: 30px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['input_dc_total_power'] %></label>
                    <label class="Label-Style-20" style="margin-top: 50px; margin-left: 10px;">Output AC Total Power (W)</label>
                    <label class="Label-Style-20" style="margin-top: 70px; margin-left: 30px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['output_ac_total_power'] %></label>
                    <label class="Label-Style-20" style="margin-top: 130px; margin-left: 10px;">Transfer Efficiency (%)</label>
                    <label class="Label-Style-20" style="margin-top: 150px; margin-left: 30px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['transferefficiency'].toFixed(2) %></label>
                </div>
                <div class="Rect-Main-22" style="position:absolute; left: 270px;">
                    <label class="Label-Style-20" style="margin-top: 10px; margin-left: 10px;">Output1 AC Voltage (V)</label>
                    <label class="Label-Style-20" style="margin-top: 30px; margin-left: 30px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['output_ac_voltage1'].toFixed(0)%></label>
                    <label class="Label-Style-20" style="margin-top: 50px; margin-left: 10px;">Output1 AC Current (A)</label>
                    <label class="Label-Style-20" style="margin-top: 70px; margin-left: 30px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['output_ac_current1'].toFixed(3) %></label>
                    <label class="Label-Style-20" style="margin-top: 90px; margin-left: 10px;">Output1 AC Power (W)</label>
                    <label class="Label-Style-20" style="margin-top: 110px; margin-left: 30px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['output_ac_wattage1'] %></label>
                    <label class="Label-Style-20" style="margin-top: 130px; margin-left: 10px;">Output1 AC Frequency (Hz)</label>
                    <label class="Label-Style-20" style="margin-top: 150px; margin-left: 30px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['output_ac_frequency1'].toFixed(2) %></label>

                    <label class="Label-Style-20" style="margin-top: 190px; margin-left: 10px;">Output2 AC Voltage (V)</label>
                    <label class="Label-Style-20" style="margin-top: 210px; margin-left: 30px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['output_ac_voltage2'].toFixed(0) %></label>
                    <label class="Label-Style-20" style="margin-top: 230px; margin-left: 10px;">Output2 AC Current (A)</label>
                    <label class="Label-Style-20" style="margin-top: 250px; margin-left: 30px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['output_ac_current2'].toFixed(3) %></label>
                    <label class="Label-Style-20" style="margin-top: 270px; margin-left: 10px;">Output2 AC Power (W)</label>
                    <label class="Label-Style-20" style="margin-top: 290px; margin-left: 30px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['output_ac_wattage2'] %></label>
                    <label class="Label-Style-20" style="margin-top: 310px; margin-left: 10px;">Output2 AC Frequency (Hz)</label>
                    <label class="Label-Style-20" style="margin-top: 330px; margin-left: 30px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['output_ac_frequency2'].toFixed(2) %></label>

                    <label class="Label-Style-20" style="margin-top: 370px; margin-left: 10px;">Output3 AC Voltage (V)</label>
                    <label class="Label-Style-20" style="margin-top: 390px; margin-left: 30px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['output_ac_voltage3'].toFixed(0) %></label>
                    <label class="Label-Style-20" style="margin-top: 410px; margin-left: 10px;">Output3 AC Current (A)</label>
                    <label class="Label-Style-20" style="margin-top: 430px; margin-left: 30px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['output_ac_current3'].toFixed(3) %></label>
                    <label class="Label-Style-20" style="margin-top: 450px; margin-left: 10px;">Output3 AC Power (W)</label>
                    <label class="Label-Style-20" style="margin-top: 470px; margin-left: 30px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['output_ac_wattage3'] %></label>
                    <label class="Label-Style-20" style="margin-top: 490px; margin-left: 10px;">Output3 AC Frequency (Hz)</label>
                    <label class="Label-Style-20" style="margin-top: 510px; margin-left: 30px;"><%= setinverterlistdata[0]['AreaList'][setarealocationindex-1]['InverterList'][setinverteridindex-1]['output_ac_frequency3'].toFixed(2) %></label>
                </div>
                <div class="Rect-Main-22" style="position:absolute; left: 540px; width: 480px;">
                    <label class="Title-9">設備事件列表</label>
            <div class="Table-1">
              <div class="Table-2">
              <table class="Table-3">
                  <thead style="table-layout: fixed;">
                      <tr class="Column-1">
                          <th>代碼</th>
                          <th>號碼</th>
                          <th>描述</th>
                    </tr>
                  </thead>
                  <tbody style="overflow: auto;">
                    <% var index_number = 1; %>
                    <% setEventList.forEach( (row) => { %>
                      <tr class="Column-2">
                        <th><%= row['_item'] %></th>
                        <th><%= row['_value'] %></th>
                        <th><%= row['_description'] %></th>
                      </tr>
                    <% }); %>
                  </tbody>
              </table>
              </div>
            </div>
                </div>
                <div class="Rect-Main-23">
                    <label class="Title-8">今日每小時發電量</label>
                    <lablel class="Unit-8">(kWh)</lablel>
                    <% var historyurlstring = '/SolarHistory?AreaLocation=' + setarealocationindex.toString() + '&InverterID=' + setinverteridindex.toString(); %>
                    <label class="Connect-8"><a href=<%= historyurlstring %>>歷史圖表</a></label>
                    <div id="myCanvas2" class="BarChartDisplay"></div>
                </div>
            </div>
            
        </div>

    </div>
  </body>
</html>