<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>太陽能系統Demo</title>
    <link rel="stylesheet" href="stylesheets/summary.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This is summary testing page - <%= i_online_count %>/<%= i_total_count %> => <%= i_today_energy %> kWh</p>
    <div class="LeftWindows" id="LeftItem">
      <p></p>
      <p><a class="PageItem">Summary</a></p>
      <p><a class="PageItem">History</a></p>
    </div>
    <div class="MainWindows">
      <div class="InverterDisplay">
        <div>
          <div class="InformationDisplay" id="LocationInfo">
            <p>地點:</p>
            <p>高雄駁二</p>
          </div>
          <div class="InformationDisplay" id="EQInformation">
            <p>現在連線Inverter數量: <%= i_online_count %></p>
            <p>系統設定Inverter數量: <%= i_total_count %></p>
          </div>
          <div class="InformationDisplay2 id="EnegyInformation">
            <p>今日總發電量:</p>
            <p><label><%= i_today_energy %></label> kWh</p>
          </div>
        </div>
        
      </div>
      <div class="InverterDisplay2">
        <div class="InformationDisplay3">
          <table class="table-bordered">
            <tr>
              <th>id</th>
              <th>online</th>
            </tr>
            <% i_data[0].forEach( (row) => { %>
              <tr>
                <td><%= row['inverter_id'] %></td>
                <td><%= row['Online'] %></td>
              </tr>
            <% }); %>
          </table>
        </div>
      </div>
      <div class="MapDisplay">
        <p>map</p>
      </div>
    </div>
    
  </body>
  <script src="javascripts/summary.js"></script>
</html>