<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>太陽能系統Demo</title>
    <link rel="stylesheet" href="stylesheets/summary.css">
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize(){
        var mapProp ={
          center: new google.maps.LatLng(22.62017, 120.28151),
          zoom: 14,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        
        var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);

        var maker = new google.maps.Marker({
          position: new google.maps.LatLng(22.62017, 120.28151),
          map: map
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This is summary testing page - <%= i_online_count %>/<%= i_total_count %> => <%= i_today_energy %> kWh</p>
    <div class="LeftWindows" id="LeftItem">
      <p></p>
      <p><a class="PageItem">Summary</a></p>
      <p><a class="PageItem">History</a></p>
    </div>

    

    <div class="MainWindows">
      <div class="InverterDisplay">
        <div>
          <div class="InformationDisplay" id="LocationInfo">
            <p>地點:</p>
            <p>高雄駁二</p>
          </div>
          <div class="InformationDisplay" id="EQInformation">
            <p>現在連線Inverter數量: <%= i_online_count %></p>
            <p>系統設定Inverter數量: <%= i_total_count %></p>
          </div>
          <div class="InformationDisplay2 id="EnegyInformation">
            <p>今日總發電量:</p>
            <p><label><%= i_today_energy %></label> kWh</p>
          </div>
        </div>
        
      </div>
      <div class="InverterDisplay2">
        <div class="InformationDisplay3">
          <div id="googleMap" style="width:900px;height:320px;"></div>
        </div>
      </div>
      <div class="MapDisplay">
        <table class="table-bordered">
          <tr>
            <th>id</th>
            <th>連線狀態</th>
            <th>設備狀態</th>
            <th>今日發電量(kWh)</th>
            <th>今日運作時間(s)</th>
            <th>周圍溫度(C)</th>
            <th>升壓溫度(C)</th>
            <th>設備溫度(C)</th>
          </tr>
          <% i_data[0].forEach( (row) => { %>
            <tr>
              <td><%= row['inverter_id'] %></td>
              <% if(row['Online'] === 1) { %>
                <td>連線</td>
              <% } else { %>
                <td>離線</td>
              <% } %>
              <% if(row['inverter_state'] === 0) { %>
                <td>Standby</td>
              <% } else if(row['inverter_state'] === 1) { %>
                <td>Countdown</td>
              <% } else if(row['inverter_state'] === 2) { %>
                <td>On</td>
              <% } else if(row['inverter_state'] === 3) { %>
                <td>No DC</td>
              <% } else { %>
                <td>Alarm</td>
              <% } %>
              <td><%= (row['today_energy'] / 100.0) %></td>
              <td><%= row['today_runtime'] %></td>
              <td><%= row['temperature_ambient'] %></td>
              <td><%= row['temperature_boost'] %></td>
              <td><%= row['temperature_inverter'] %></td>
            </tr>
          <% }); %>
        </table>
      </div>
    </div>
    
  </body>
  <script src="javascripts/summary.js"></script>
</html>