<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    

  </head>
  <body>
    <label id="a">Test</label>
    <p type="button" onclick="ShowTest()">Show Test</p>
    <script>
      function ShowTest(){
        var _a = document.getElementById('a');
        _a.textContent = 'A';
        _a.title = 'B';
      }
    </script>

    <input type="checkbox" onchange="ChangeSelect()" id='b' name="checkInverterAll" value='Select ALL'>Select All
    <script>
      function ChangeSelect(){
        var bbb = document.getElementById('b');
        var _a = document.getElementById('a');
        _a.textContent = 'C';
        var ccc = document.getElementsByName('checkInverter');
        var ddd= document.getElementById('c');
        ddd.textContent = ccc.length.toString();
        ccc.forEach( eee => {
          eee.checked = bbb.checked;
        });
      }
    </script>
    <p></p>
    <% var commandA = 'commandA'; %>
    <% var id_index = 'id_A'; %>
    <% var fun_indexA = 'fun_A'; %>
    <% var fun_indexB = 'fun_B'; %>
    <input type="checkbox" onchange="<%= commandA %>()" id='<%= id_index %>' name="checkInverterAllA" value='Select A'>Select A
    <script>
      function <%= commandA %>(){
        var bbb = document.getElementById('<%= id_index %>');
        var _a = document.getElementById('a');
        _a.textContent = 'Test AC';
        var ccc = document.getElementsByName('checkInverter');
        var ddd= document.getElementById('c');
        ddd.textContent = ccc.length.toString();
        ccc.forEach( eee => {
          if(eee.className == '<%= fun_indexA %>')
            eee.checked = bbb.checked;
        });
      }
    </script>
    </A>
    <p></p>
    <% for(var i=0;i<10;i++){ %>
      <% var indexString = 'TestA' + i.toString(); %>
        <input type="checkbox" class="<%= fun_indexA %>" name="checkInverter" value=<%= indexString %>><%= indexString %>
        <p></p>
    <% } %>
    <% for(var i=0;i<5;i++){ %>
      <% var indexString = 'TestB' + i.toString(); %>
        <input type="checkbox" class="<%= fun_indexB %>" name="checkInverter" value=<%= indexString %>><%= indexString %>
        <p></p>
    <% } %>

    <textarea id='c'>NA</textarea>
    
  </body>
</html>